html, body {
    background: black;
}

.center-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}

.larger-btn {
    padding: 15px 30px;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.section-about-hero .section-content {
    max-width: 41em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1200px) {
.section-about-hero .section-content {
    flex-direction: row;
}
}
