html, body {
    background: black;
}

#root {
    background: no-repeat url('../../../../public/comet-burst.svg');
    background-size: cover;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.larger-btn {
    padding: 15px 30px;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

.center-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-links a p {
  padding: 10px 20px;
}
