html, body {
    background: black;
}

#root {
    background: no-repeat url('../../../../public/comet-burst.svg');
    background-size: cover;
}

.center-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}

.larger-btn {
    padding: 15px 30px;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

.center-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
    min-width: 400px;
}

.navbar-links a p {
  padding: 10px 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 8rem;
    margin: 0;
    padding-top: 4rem;
    max-width: 95%;
  }

  .footer p {
    font-family: var(--font-family);
    font-size: 11px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 95%;
  }
