:root {
  --color-brand-salmon: #fe452b;
  --color-brand-salmon-lighter: #fe5330;
  --color-brand-salmon-orange: #ff6700;
  --color-brand-salmon-magenta: #e108b8;
  --color-background-light-mode: white;
  --color-background-dark-mode: black;
  --color-background-transparent-light-mode: rgba(255, 255, 255, 0);
  --color-background-transparent-dark-mode: rgba(0, 0, 0, 0);
  --color-background-transluscent-light-mode: rgba(255, 255, 255, 0.65);
  --color-background-transluscent-dark-mode: rgba(0, 0, 0, 0.65);
  --color-primary-light-mode: black;
  --color-primary-dark-mode: white;
  --color-text-light-mode: rgba(0, 0, 0, 0.92);
  --color-text-dark-mode: rgba(255, 255, 255, 0.92);
  --color-secondary-light-mode: rgba(0, 0, 0, 0.6);
  --color-secondary-dark-mode: rgba(255, 255, 255, 0.6);
  --color-tertiary-light-mode: rgba(0, 0, 0, 0.37);
  --color-tertiary-dark-mode: rgba(255, 255, 255, 0.37);
  --color-quaternary-light-mode: rgba(0, 0, 0, 0.25);
  --color-quaternary-dark-mode: rgba(255, 255, 255, 0.25);
  --color-quinary-light-mode: rgba(0, 0, 0, 0.15);
  --color-quinary-dark-mode: rgba(255, 255, 255, 0.15);
  --color-accent: var(--color-brand-salmon);
  --color-accent-text: var(--color-brand-salmon);
  --color-accent-active: var(--color-brand-salmon-magenta);
  --color-background: var(--color-background-light-mode);
  --color-background-transparent: var(
    --color-background-transparent-light-mode
  );
  --color-background-transluscent: var(
    --color-background-transluscent-light-mode
  );
  --color-primary: var(--color-primary-light-mode);
  --color-text: var(--color-text-light-mode);
  --color-secondary: var(--color-secondary-light-mode);
  --color-tertiary: var(--color-tertiary-light-mode);
  --color-quaternary: var(--color-quaternary-light-mode);
  --color-quinary: var(--color-quinary-light-mode);
  --color-ui-background-solid: #090b0f;
  --color-ui-background-solid-border: #282a2e;
  --gradient-bidirectional-values: #4e0155 -15%, #ae00bd 10%, #ff2f00 35%,
    #ff6c01 50%, #ff2f00 65%, #ae00bd 90%, #4e0155 115%;
  --gradient-bidirectional: linear-gradient(
    90deg,
    var(--gradient-bidirectional-values)
  );
  --gradient-bidirectional-bright: linear-gradient(
    90deg,
    #4e0155,
    #ae00bd,
    #fe441a,
    #ff8a01,
    #ffe926,
    #ffffff,
    #ffe926,
    #ff8a01,
    #fe441a,
    #ae00bd,
    #4e0155,
    #4e0155
  );
  --gradient-half-values: #ff3d00, #ff0000, #ae00da, #8900db 110%;
  --gradient-half: linear-gradient(90deg, var(--gradient-half-values));
  --gradient-glow: linear-gradient(
    -60deg,
    #5c0088 15%,
    #fd05c6 40%,
    #ff0000 70%,
    #ff5c00 85%
  );
  --font-system-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-system-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  --font-brand-headline: "Cantilever Sans, by Peter Nowell",
    var(--font-system-sans);
  --font-brand-text: Inter, var(--font-system-sans);
  --font-brand-mono: "Cantilever Mono, by Peter Nowell", var(--font-system-mono);
  --line-height-paragraph: 1.22;
  --font-size-button-small: 13px;
  --font-size-button-medium: 16px;
  --font-size-button-large: 20px;
  --logotype-aspect-ratio: (121 / 34);
  --logo-width: 120px;
  --border-radius: 0px;
  --border-radius-container: 12px;
  --border-thickness: 1px;
  --border-radius-compensation: 0.5px;
  --glow-opacity: 0.8;
  --approx-aspect-ratio: 2.55;
  --header-height: 50px;
  --nav-link-extra-padding: 8px;
  --header-nav-link-gutters: 8px;
  --header-footer-max-width: 1300px;
  --header-footer-padding-h: 20px;
  --side-by-side-gutter: 40px;
  --features-margin-top: 60px;
  --features-grid-gutter-h: 60px;
  --feature-max-width: 560px;
  --duration-layout: 0.5s;
  --marquee-logo-height: 40px;
  --marquee-fade-width: calc(var(--marquee-logo-height) * 0.8);
  --marquee-gutter: var(--marquee-fade-width);
  --marquee-duration: 16s;
  --marquee-duration-modifier: 1;
  --chakra-colors-brand-addressColor: "black" !important;
}

.theme-dark {
  --color-background: var(--color-background-dark-mode);
  --color-background-transparent: var(--color-background-transparent-dark-mode);
  --color-background-transluscent: var(
    --color-background-transluscent-dark-mode
  );
  --color-accent-text: var(--color-brand-salmon-lighter);
  --color-accent-active: var(--color-brand-salmon-orange);
  --color-primary: var(--color-primary-dark-mode);
  --color-text: var(--color-text-dark-mode);
  --color-secondary: var(--color-secondary-dark-mode);
  --color-tertiary: var(--color-tertiary-dark-mode);
  --color-quaternary: var(--color-quaternary-dark-mode);
  --color-quinary: var(--color-quinary-dark-mode);
  background-color: var(--color-background);
  color: var(--color-text);
}
