.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.header-content {
  margin: 1em;
  background: transparent;
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-container h1 {
  font-family: var(--font-family);
  width: 70%;
  font-weight: bold;
  font-size: 48px;
  line-height: 105.7%;
  color: #FFFFFF;
  padding: 1rem 0rem;
}

.text-container p {
  font-family: var(--font-family);
  width: 70%;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 1rem 0rem;
}

.header-content div img {
  width: 17%;
}

.header-slider {
  margin-top: 5rem;
  /* background: wheat; */
  color: #FFFFFF;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-slider .slider {
  width: 70%;
}

.header-slider h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 1rem;

}

.slider .slider-card {
  width: 180px !important;
  height: 200px !important;
  background: #181818;
  border-radius: 20px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-card img {
  border-radius: 50%;
}

.slider-card-number {
  position: absolute;
  top: 5.5%;
  left: 6.11%;
  background: var(--primary-color);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-card p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 5px;
}

.slider-card span {
  font-weight: normal !important;
}

.img-styling {
  width: 350px;
  height: 350px;
  margin-left: 350px;
}

.shake-vertical {
  -webkit-animation: shake-vertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite both;
  animation: shake-vertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite both;
}

@-webkit-keyframes shake-vertical {

  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }

  80% {
    -webkit-transform: translateY(12.8px);
    transform: translateY(12.8px);
  }

  90% {
    -webkit-transform: translateY(-12.8px);
    transform: translateY(-12.8px);
  }
}

@keyframes shake-vertical {

  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }

  80% {
    -webkit-transform: translateY(12.8px);
    transform: translateY(12.8px);
  }

  90% {
    -webkit-transform: translateY(-12.8px);
    transform: translateY(-12.8px);
  }
}

.slider-img {
  position: relative;
}

.verify {
  position: absolute;
  right: 5px;
  bottom: 2px;
}


