.bids-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
.bids-container-text h1{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.bids-container-card{
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-column{
  width: 50vw;
  max-width: 90%;
}
.bids-card{
  background: #181818;
  border-radius: 20px;
  padding: 11px 12px 19px 11px;
  margin-bottom: 20px;
  width: 100%;
}
.bids-card img{
  border-radius: 20px;
  width: 100%;
}
.bids-card-top p{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 15px;
}
.bids-card-bottom{
  display: flex;
  justify-content: space-between;
}
.bids-card-bottom p{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}
.bids-card-bottom p:last-child{
  font-weight: normal;
}
.bids-card-bottom span{
  font-weight: normal;
}
.bids-value{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: '1em';
  line-height: 30px;
  color: #FFFFFF;
}
.bids-value span{
  font-weight: normal;
}
@media screen and (max-width: 550px) {
  .section__padding{
    padding: 2rem 14px !important;
  }
  .bids-card{
    margin-bottom: 10px;
  }
  .bids-card-top p{
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
  }
  .bids-card-bottom p{
    font-size: 10px;
    line-height: 15px;
  }
  .bids-container{
    width: 100%;
  }
  .bids-container-card{
    width: 100%;
  }
  .card-column{
    width: 90%;
  }
}
