body{
  background: var(--color-bg);
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: inherit;
}

.gradient__bg{

 /* ff 3.6+ */
 background:-moz-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

 /* safari 5.1+,chrome 10+ */
 background:-webkit-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

 /* opera 11.10+ */
 background:-o-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

 /* ie 10+ */
 background:-ms-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

 /* global 92%+ browsers support */
 background:radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);


}
.gradient__text{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section__padding{
  padding: 1rem 1rem;
}
.section__margin{
  margin: 1rem 1rem;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

button{
  cursor: pointer;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@media screen and (max-width: 700px){
  .section__padding{
    padding:4rem 6rem;
  }
  .section__margin{
   margin:4rem;
  }
}
@media screen and (max-width: 550px){
  .section__padding{
    padding: 4rem 2rem !important;
  }
  .section__margin{
   margin:4rem 2rem;
  }
}

[hidden] {
  display: none !important;
}
.gs-dev-tools {
  z-index: 10000000;
}
@font-face {
  font-family: 'Cantilever Mono, by Peter Nowell';
  src: url('https://assets.codepen.io/44800/PNCantileverMono2G-Code.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cantilever Sans, by Peter Nowell';
  src: url('https://assets.codepen.io/44800/PNCantilever12D-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Cantilever Sans, by Peter Nowell';
  src: url('https://assets.codepen.io/44800/PNCantilever12D-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cantilever Sans, by Peter Nowell';
  src: url('https://assets.codepen.io/44800/PNCantilever12D-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
:root {
  --color-brand-salmon: #FE452B;
  --color-brand-salmon-lighter: #FE5330;
  --color-brand-salmon-orange: #FF6700;
  --color-brand-salmon-magenta: #E108B8;
  --color-background-light-mode: white;
  --color-background-dark-mode: black;
  --color-background-transparent-light-mode: rgba(255, 255, 255, 0);
  --color-background-transparent-dark-mode: rgba(0, 0, 0, 0);
  --color-background-transluscent-light-mode: rgba(255, 255, 255, 0.65);
  --color-background-transluscent-dark-mode: rgba(0, 0, 0, 0.65);
  --color-primary-light-mode: black;
  --color-primary-dark-mode: white;
  --color-text-light-mode: rgba(0, 0, 0, 0.92);
  --color-text-dark-mode: rgba(255, 255, 255, 0.92);
  --color-secondary-light-mode: rgba(0, 0, 0, 0.6);
  --color-secondary-dark-mode: rgba(255, 255, 255, 0.6);
  --color-tertiary-light-mode: rgba(0, 0, 0, 0.37);
  --color-tertiary-dark-mode: rgba(255, 255, 255, 0.37);
  --color-quaternary-light-mode: rgba(0, 0, 0, 0.25);
  --color-quaternary-dark-mode: rgba(255, 255, 255, 0.25);
  --color-quinary-light-mode: rgba(0, 0, 0, 0.15);
  --color-quinary-dark-mode: rgba(255, 255, 255, 0.15);
  --color-accent: var(--color-brand-salmon);
  --color-accent-text: var(--color-brand-salmon);
  --color-accent-active: var(--color-brand-salmon-magenta);
  --color-background: var(--color-background-light-mode);
  --color-background-transparent: var(--color-background-transparent-light-mode);
  --color-background-transluscent: var(--color-background-transluscent-light-mode);
  --color-primary: var(--color-primary-light-mode);
  --color-text: var(--color-text-light-mode);
  --color-secondary: var(--color-secondary-light-mode);
  --color-tertiary: var(--color-tertiary-light-mode);
  --color-quaternary: var(--color-quaternary-light-mode);
  --color-quinary: var(--color-quinary-light-mode);
  --color-ui-background-solid: #090B0F;
  --color-ui-background-solid-border: #282A2E;
  --gradient-bidirectional-values: #4E0155 -15%,
		#AE00BD 10%,
		#FF2F00 35%,
		#FF6C01 50%,
		#FF2F00 65%,
		#AE00BD 90%,
		#4E0155 115%;
  --gradient-bidirectional: linear-gradient(90deg, var(--gradient-bidirectional-values));
  --gradient-bidirectional-bright: linear-gradient(90deg, #4E0155, #AE00BD, #FE441A, #FF8A01, #FFE926, #FFFFFF, #FFE926, #FF8A01, #FE441A, #AE00BD, #4E0155, #4E0155);
  --gradient-half-values: #FF3D00, #FF0000, #AE00DA, #8900db 110%;
  --gradient-half: linear-gradient(90deg, var(--gradient-half-values));
  --gradient-glow: linear-gradient(-60deg, #5C0088 15%, #FD05C6 40%, #FF0000 70%, #FF5C00 85%);
  --font-system-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-system-mono: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  --font-brand-headline: 'Cantilever Sans, by Peter Nowell', var(--font-system-sans);
  --font-brand-text: Inter, var(--font-system-sans);
  --font-brand-mono: 'Cantilever Mono, by Peter Nowell', var(--font-system-mono);
  --line-height-paragraph: 1.22;
  --font-size-button-small: 13px;
  --font-size-button-medium: 16px;
  --font-size-button-large: 20px;
  --logotype-aspect-ratio: (121 / 34);
  --logo-width: 120px;
  --border-radius: 0px;
  --border-radius-container: 12px;
  --border-thickness: 1px;
  --border-radius-compensation: 0.5px;
  --glow-opacity: 0.8;
  --approx-aspect-ratio: 2.55;
  --header-height: 50px;
  --nav-link-extra-padding: 8px;
  --header-nav-link-gutters: 8px;
  --header-footer-max-width: 1300px;
  --header-footer-padding-h: 20px;
  --side-by-side-gutter: 40px;
  --features-margin-top: 60px;
  --features-grid-gutter-h: 60px;
  --feature-max-width: 560px;
  --duration-layout: 0.5s;
  --marquee-logo-height: 40px;
  --marquee-fade-width: calc(var(--marquee-logo-height) * 0.8);
  --marquee-gutter: var(--marquee-fade-width);
  --marquee-duration: 16s;
  --marquee-duration-modifier: 1;
}
@media (max-width: 580px) {
  :root {
    --header-height: 44px;
  }
}
@media (max-width: 400px) {
  :root {
    --nav-link-extra-padding: 5px;
  }
}
@media (max-width: 580px) {
  :root {
    --header-nav-link-gutters: 0px;
  }
}
@media (min-width: 800px) {
  :root {
    --header-footer-padding-h: 40px;
  }
}
@media (max-width: 400px) {
  :root {
    --header-footer-padding-h: 10px;
  }
}
@media (max-width: 599px) {
  :root {
    --side-by-side-gutter: 26px;
  }
}
@supports (margin-top: "max(10vh, 60px)") {
  :root {
    --features-margin-top: max(10vh, 60px);
  }
}
.theme-dark {
  --color-background: var(--color-background-dark-mode);
  --color-background-transparent: var(--color-background-transparent-dark-mode);
  --color-background-transluscent: var(--color-background-transluscent-dark-mode);
  --color-accent-text: var(--color-brand-salmon-lighter);
  --color-accent-active: var(--color-brand-salmon-orange);
  --color-primary: var(--color-primary-dark-mode);
  --color-text: var(--color-text-dark-mode);
  --color-secondary: var(--color-secondary-dark-mode);
  --color-tertiary: var(--color-tertiary-dark-mode);
  --color-quaternary: var(--color-quaternary-dark-mode);
  --color-quinary: var(--color-quinary-dark-mode);
  background-color: var(--color-background);
  color: var(--color-text);
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  background: black;
  color: var(--color-text-dark-mode);
  font-family: var(--font-brand-text);
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height-paragraph, 1.22);
  letter-spacing: -0.005em;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  flex: 1;
  background: var(--color-background);
  color: var(--color-text);
}
/* section {
  padding: 40px 0px;
} */
main > section {
  padding-top: max(70px, min(12vh, 100px));
  padding-bottom: max(60px, min(12vh, 120px));
}
main > section > *:first-child,
main > section > .section-content,
main > section > .section-content > *:first-child,
main > section > .section-content > .text-group:first-child > *:first-child {
  margin-top: 0;
}
main > section hr:first-child {
  margin: max(60px, min(8vh, 100px)) 0;
}
.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 18px;
  padding: 0 calc(2.5vw + 10px);
  padding: 0 calc(2.5vw + 10px + env(safe-area-inset-left));
}
figure {
  margin: 0;
}
figure img,
figure svg {
  display: block;
}
svg {
  display: block;
  font-family: var(--font-brand-text), system-ui, -apple-system, Roboto, sans-serif;
}
img[onload="markImgAsLoaded(this)"] {
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.3s;
}
img[onload="markImgAsLoaded(this)"].img-loaded {
  will-change: auto;
  opacity: 1;
}
h1,
h2,
h3,
h4,
p {
  transition: font-size 0.3s;
}
h1.centered,
h2.centered,
h3.centered,
h4.centered,
p.centered {
  text-align: center;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  color: var(--color-primary);
  cursor: default;
  margin-bottom: 0.6em;
}
a h1,
a h2,
a h3,
a h4 {
  cursor: pointer;
}
h1,
h2,
h3 {
  font-family: var(--font-brand-headline);
  font-weight: 300;
  letter-spacing: -0.035em;
  font-feature-settings: "liga" 1, "calt" 1, "ss16" 1;
}
h1,
h2 {
  font-size: 60px;
  letter-spacing: -0.042em;
  line-height: 0.97;
}
@media (max-width: 779px), (max-height: 450px) {
  h1,
  h2 {
    font-size: 52px;
  }
}
@media (max-width: 599px) {
  h1,
  h2 {
    font-size: 46px;
  }
}
@media (max-width: 419px) {
  h1,
  h2 {
    font-size: 40px;
  }
}
h3,
h4 {
  line-height: 1.08;
}
h3 {
  font-size: 36px;
}
@media (max-width: 779px), (max-height: 450px) {
  h3 {
    font-size: 34px;
  }
}
@media (max-width: 599px) {
  h3 {
    font-size: 30px;
  }
}
@media (max-width: 419px) {
  h3 {
    font-size: 28px;
  }
}
h4 {
  font-size: 19px;
}
@media (max-width: 899px) {
  h4 {
    font-size: 18px;
  }
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
}
p.prominent {
  font-size: 20px;
  letter-spacing: -0.012em;
}
@media (max-width: 899px) {
  p {
    font-size: 17px;
  }
  p.prominent {
    font-size: 18px;
    letter-spacing: -0.01em;
  }
}
@media (max-width: 419px) {
  p.prominent {
    font-size: 17px;
  }
}
p.caption {
  color: var(--color-secondary);
  font-size: 0.85em;
}
a {
  text-decoration: none;
  transition: opacity, color 0.6s;
}
a:hover,
a:active {
  transition-duration: 0.2s;
}
a,
a:visited {
  color: currentcolor;
}
a,
[onclick] {
  -webkit-tap-highlight-color: transparent;
}
hr {
  width: 85%;
  max-width: 900px;
  border: none;
  height: 1px;
  background: var(--color-quinary);
}
hr.full-width {
  width: 100%;
  max-width: none;
}
.accent-color {
  color: var(--color-accent-text) !important;
  fill: var(--color-accent-text) !important;
  stroke: var(--color-accent-text) !important;
}
.text-gradient-bidirectional {
  color: var(--color-accent);
  background: -webkit-linear-gradient(0deg, var(--gradient-bidirectional-values));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.text-gradient-half {
  color: var(--color-accent);
  background: -webkit-linear-gradient(0deg, var(--gradient-half-values));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.side-by-side-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: var(--side-by-side-gutter);
  transition: var(--duration-layout);
}
.side-by-side-wrap.spacing-tight {
  gap: calc(var(--side-by-side-gutter) * 0.5);
}
.side-by-side-wrap.align-left {
  justify-content: flex-start;
}
.side-by-side-wrap.align-right {
  justify-content: flex-start;
}
main:not(.tuck-below-header):before {
  content: "";
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  background: black;
}
main:not(.tuck-below-header):has( > .theme-light:first-child ):before {
  background: linear-gradient(var(--color-background-dark-mode), var(--color-background-light-mode));
}
.our-logo {
  fill: currentcolor;
  stroke: currentcolor;
  width: var(--logo-width);
  height: calc(var(--logo-width) / var(--logotype-aspect-ratio));
}
.our-logo-container svg {
  margin-top: 10px;
  width: auto;
  height: 25px;
}
.our-logo-container {
  display:flex;
  justify-content: center;
}
.our-logo-container:hover,
.our-logo-container:active {
  opacity: 0.8;
}
.ui-button {
  position: relative;
  z-index: 0;
  display: inline-block;
  --border-radius: 8px;
  border-radius: var(--border-radius);
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 11px 1.35em 13px 1.4em;
  font-size: var(--font-size-button-medium);
  background: var(--color-accent);
  border: none;
  font-weight: 600;
  letter-spacing: 0.02ch;
  color: white;
  transition: 0.8s, background-position 1.2s;
}
a.ui-button {
  color: white;
}
.ui-button:hover,
.ui-button:active,
.ui-button:focus {
  transition: 0.4s, background-position 0.7s;
  --color-accent: var(--color-accent-active);
}
.ui-button.size-small {
  font-size: var(--font-size-button-small);
  padding: 8px 1em 9px 1.1em;
  --border-radius: 6px;
}
.ui-button.size-medium {
  padding: 11px 1.35em 13px 1.4em;
  font-size: var(--font-size-button-medium);
}
.ui-button.size-large {
  padding: 17px 1.5em 19px 1.55em;
  font-size: var(--font-size-button-large);
}
.ui-button.style-border {
  background-color: var(--color-accent);
  background-image: var(--gradient-bidirectional);
  background-position: 95% 100%;
  background-size: 250% 100%;
}
.ui-button.style-border:hover,
.ui-button.style-border:active {
  background-position: 0% 100%;
}
.ui-button.style-border-plain {
  background-color: currentcolor;
}
.ui-button.style-border,
.ui-button.style-border-plain {
  color: var(--color-primary);
  font-weight: 500;
}
.ui-button.style-border:after,
.ui-button.style-border-plain:after {
  content: "";
  position: absolute;
  top: var(--border-thickness);
  bottom: var(--border-thickness);
  left: var(--border-thickness);
  right: var(--border-thickness);
  background: var(--color-background);
  border-radius: calc(var(--border-radius) - var(--border-thickness) * 0.5 - var(--border-radius-compensation));
  z-index: -1;
}
.ui-button.shape-capsule {
  --border-radius: 1000px;
}
.link-with-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.3s;
  will-change: opacity, color;
}
.link-with-icon:hover,
.link-with-icon:active,
.link-with-icon:focus {
  opacity: 0.8;
}
.link-with-icon:hover .link-icon:last-child,
.link-with-icon:active .link-icon:last-child,
.link-with-icon:focus .link-icon:last-child {
  transform: translateX(0.14em);
}
.link-with-icon.size-small {
  font-size: var(--font-size-button-small);
  gap: 0.33em;
}
.link-with-icon.size-medium {
  font-size: var(--font-size-button-medium);
}
.link-with-icon.size-large {
  font-size: var(--font-size-button-large);
}
.link-with-icon.bold {
  font-weight: 600;
}
.link-with-icon.accent-color:hover,
.link-with-icon.accent-color:active,
.link-with-icon.accent-color:focus {
  opacity: 1;
  --color-accent-text: var(--color-accent-active);
}
.link-icon {
  position: relative;
  display: block;
  fill: currentcolor;
  stroke: currentcolor;
  margin-bottom: -0.1em;
  transition: inherit;
  will-change: color, transform;
}
.size-small .link-icon {
  width: calc(var(--font-size-button-small) * 0.55);
  height: calc(var(--font-size-button-small) * 1);
}
.nav-link,
.nav-heading {
  font-weight: 500;
  letter-spacing: 0.005em;
}
a.nav-link {
  position: relative;
  z-index: 1;
  color: var(--color-primary);
  padding: var(--nav-link-extra-padding);
  transition: border 0.3s;
}
a.nav-link:hover,
a.nav-link:active {
  opacity: 0.8;
}
a.nav-link .social-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentcolor;
  stroke: currentcolor;
}
.nav-heading {
  color: var(--color-secondary);
  width: 100%;
  padding: var(--nav-link-extra-padding);
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height, 58px);
  background: transparent;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(150%) blur(20px);
  overflow: hidden;
  cursor: default;
}
.site-header:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-background, black);
  opacity: 0.6;
}
.site-header:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(var(--color-background), var(--color-background-transparent));
  opacity: 0.8;
}
.site-header .ui-button.style-border {
  box-shadow: 0px 0px 140px 50px var(--color-background), 0px 0px 30px 5px var(--color-background);
}
.site-header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--header-footer-max-width);
  padding: 0 var(--header-footer-padding-h);
  margin: 0 20px;
  transition: var(--duration-layout);
}
@media (max-width: 580px) {
  .site-header__content {
    margin: 0;
  }
}
.site-header .our-logo-container {
  --logo-width: 90px;
  padding: calc(var(--nav-link-extra-padding) * 0.5);
  margin-top: -2px;
  margin-right: auto;
}
@media (max-width: 400px) {
  .site-header .our-logo-container {
    transform: scale(0.97);
    transform-origin: left center;
  }
}
.header-main__nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: var(--header-nav-link-gutters);
       column-gap: var(--header-nav-link-gutters);
  font-size: var(--font-size-button-small);
  font-weight: 500;
}
.header-main__nav a:not(.ui-button) {
  position: relative;
  line-height: 1;
  text-decoration: none;
  margin-top: -1px;
  transition: 0.2s;
}
.header-main__nav a:not(.ui-button):hover,
.header-main__nav a:not(.ui-button):active,
.header-main__nav a:not(.ui-button):focus {
  color: var(--color-primary);
  outline: none;
}
.header-main__nav a:not(.ui-button).active {
  font-weight: 500;
  color: var(--color-primary);
}
.header-main__nav a:not(.ui-button).active:after {
  content: "";
  position: absolute;
  left: calc(var(--nav-link-extra-padding) - 2px);
  right: calc(var(--nav-link-extra-padding) - 2px);
  bottom: 2px;
  height: 1px;
  z-index: -1;
  background-color: var(--color-tertiary);
}
.header-main__nav a.ui-button {
  margin-left: calc(var(--nav-link-extra-padding) * 0.5);
}
@media (max-width: 580px) {
  .header-main__nav a.ui-button {
    padding-left: 8px;
    padding-right: 8px;
    font-size: inherit;
  }
}
.site-footer {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  height: 80px;
}
.site-footer:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--gradient-bidirectional-bright);
  transform: translateY(-1px);
}
.site-footer section {
  padding: 0;
  width: auto;
}
.site-footer__content {
  display: flex;
  flex-wrap: wrap;
  padding: 40px var(--header-footer-padding-h) 30px;
  margin: 0 auto;
  gap: 40px;
  max-width: var(--header-footer-max-width);
  transition: var(--duration-layout);
}
@media (max-width: 699px) {
  .site-footer__content {
    justify-content: center;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.site-footer__featured-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1em;
  margin-right: auto;
  padding: 0 20px !important;
}
.site-footer__featured-area .our-logo {
  --logo-width: 140px;
}
@media (max-width: 699px) {
  .site-footer__featured-area {
    width: 100% !important;
    align-items: center;
    margin-left: auto;
  }
}
.site-footer__nav-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 699px) {
  .site-footer__nav-area {
    margin-right: -1em;
  }
}
@media (max-width: 420px) {
  .site-footer__nav-area {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media (max-width: 360px) {
  .site-footer__nav-area {
    margin-right: -10px;
  }
}
.site-footer__nav,
.site-footer__sub-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px;
}
.site-footer__nav.horizontal,
.site-footer__sub-nav.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}
.site-footer__sub-nav {
  padding: 0;
}
.site-footer__notices {
  width: 100% !important;
}
.section-hero {
  width: 100%;
  padding: 0;
}
.hero-composition {
  --breakpoint-hero-composition-compact-arrangement-max: 499px;
}
.hero-composition {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}
.hero-composition:before {
  content: "";
  position: absolute;
  top: 0;
  height: 36px;
  left: 0;
  right: 0;
  background: linear-gradient(var(--color-background-dark-mode), var(--color-background-transparent-dark-mode));
}
.hero-opening-vignette {
  --hero-opening-vignette-blur-radius: 15px;
  --hero-opening-vignette-scale-x: 140%;
  --hero-opening-vignette-scale-y: 140%;
  --hero-opening-vignette-inner-percent: 50%;
  --hero-opening-vignette-outer-percent: 120%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: calc(var(--hero-opening-vignette-blur-radius) * -1);
  right: calc(var(--hero-opening-vignette-blur-radius) * -1);
  top: calc(var(--hero-opening-vignette-blur-radius) * -1);
  bottom: calc(var(--hero-opening-vignette-blur-radius) * -1);
  background: radial-gradient(ellipse var(--hero-opening-vignette-scale-x) var(--hero-opening-vignette-scale-y) at 50% 10%, transparent var(--hero-opening-vignette-inner-percent), black var(--hero-opening-vignette-outer-percent));
  filter: blur(var(--hero-opening-vignette-blur-radius));
  opacity: 0;
}
.hero-sunrise-graphic {
  position: relative;
  z-index: 0;
  width: 100%;
  max-height: 73vh;
  height: 62vh;
  height: max(40vw, 62vh);
}
@media (max-width: 499px) {
  .hero-sunrise-graphic {
    max-height: none;
    min-height: 520px;
  }
}
.hero-modal-ui-positioner {
  position: absolute;
  z-index: 2;
  top: 60%;
  left: 42%;
  width: 198px;
  transform: translateY(-50%) translateX(-100%);
}
@media (max-height: 499px) {
  .hero-modal-ui-positioner {
    width: min( 40%, 35vh );
  }
}
@media (max-width: 499px) {
  .hero-modal-ui-positioner {
    width: 40%;
    min-width: 180px;
    left: initial;
    left: 50%;
    top: 42%;
    transform: translateY(-50%) translateX(-50%);
  }
}
.hero-modal-ui,
.hero-modal-ui.ui-container {
  --opacity: 1;
}
.hero-modal-ui:after,
.hero-modal-ui.ui-container:after {
  opacity: var(--opacity);
}
.hero-modal-ui > .ui-container-content,
.hero-modal-ui.ui-container > .ui-container-content {
  opacity: var(--opacity);
}
.hero-modal-ui > .ui-container-border,
.hero-modal-ui.ui-container > .ui-container-border {
  opacity: var(--opacity);
  background-image: linear-gradient(-140deg, #FFE382 0%, #FE5337 30%, #9602BB 80%, #420160 100%) !important;
}
.hero-code-positioner {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 45%;
  transform: translateX(0%);
}
@media (max-width: 499px) {
  .hero-code-positioner {
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.hero-code,
.hero-code.ui-container {
  --border-gradient-position: 0%;
  --border-gradient-width: 320%;
  --background-opacity: 100%;
  padding: 1.2em 1.6em;
  cursor: default;
  font-family: var(--font-brand-mono);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.01em;
}
@media (max-width: 699px), (max-height: 499px) {
  .hero-code,
  .hero-code.ui-container {
    font-size: 14px;
  }
}
.hero-code:after,
.hero-code.ui-container:after {
  opacity: var(--background-opacity);
}
.hero-code .ui-container-border,
.hero-code.ui-container .ui-container-border {
  opacity: var(--opacity);
  background-image: linear-gradient(140deg, #FF3D00, #FF0000, #AE00DA, #8900db 38%, rgba(137, 0, 219, 0) 44%) !important;
  background-size: var(--border-gradient-width) 100% !important;
  background-position: var(--border-gradient-position) 100% !important;
}
.code-line {
  white-space: nowrap;
}
.code-statement {
  color: #FF5C00;
}
.code-class {
  color: #FFB800;
}
.code-element {
  color: #98ADFF;
}
.code-attribute {
  color: #8DE4AB;
}
.avoid-text-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.typewriter-content-remains-fixed-size {
  position: relative;
}
.typewriter-content-remains-fixed-size .typewriter-content.layout-but-hidden {
  visibility: hidden;
}
.typewriter-content-remains-fixed-size .typewriter-content:not(.layout-but-hidden) {
  position: absolute;
  left: 0;
  top: 0;
}
.typewriter-prep .code-line span {
  will-change: transform;
}
.typewriter-prep .code-line > *:not(.new) {
  color: transparent !important;
}
.section-hero__statement {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 70px;
}
@media (max-width: 999px) {
  .section-hero__statement {
    font-size: 60px;
  }
}
@media (max-width: 599px) {
  .section-hero__statement {
    font-size: 50px;
  }
}
@media (max-width: 419px) {
  .section-hero__statement {
    font-size: 40px;
  }
}
.section-hero__after-statement {
  width: 100%;
}
.section-hero__cta {
  margin: 1.8em 0 3.5em;
}
.hero-logos {
  width: 100%;
  text-align: center;
}
.logo-marquee {
  position: relative;
  width: auto;
  padding-top: 8px;
  --logo-opacity: 0.4;
}
.logo-marquee__crop {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
}
.logo-marquee__crop:before,
.logo-marquee__crop:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: var(--marquee-fade-width);
  background: linear-gradient(90deg, var(--color-background) 5%, var(--color-background-transparent));
}
.logo-marquee__crop:before {
  left: 0;
}
.logo-marquee__crop:after {
  right: 0;
  transform: scaleX(-1);
}
.logo-marquee__mover {
  display: inline-flex;
  transform: translateX(-60%);
  -webkit-animation: marquee infinite linear;
          animation: marquee infinite linear;
  -webkit-animation-duration: calc(var(--marquee-duration) * var(--marquee-duration-modifier));
          animation-duration: calc(var(--marquee-duration) * var(--marquee-duration-modifier));
}
@media (max-width: 700px) {
  .logo-marquee__mover {
    --marquee-duration-modifier: 0.7;
  }
}
@media (max-width: 550px) {
  .logo-marquee__mover {
    --marquee-duration-modifier: 0.52;
  }
}
@media (max-width: 400px) {
  .logo-marquee__mover {
    --marquee-duration-modifier: 0.42;
  }
}
.logo-marquee-items-main {
  padding: 0 var(--marquee-fade-width);
}
.logo-marquee-items-extension {
  width: 0px;
  box-sizing: border-box;
}
.logo-marquee-items-main,
.logo-marquee-items-extension {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--marquee-gutter);
}
.logo-marquee-items-main img,
.logo-marquee-items-extension img {
  position: relative;
  z-index: 0;
  height: var(--marquee-logo-height);
  filter: saturate(0);
  will-change: transform;
  opacity: var(--logo-opacity, 1);
}
.logo-marquee-items-main img.smaller,
.logo-marquee-items-extension img.smaller {
  height: calc(var(--marquee-logo-height) * 0.8);
}
.logo-marquee-items-main img.larger,
.logo-marquee-items-extension img.larger {
  height: calc(var(--marquee-logo-height) * 1.2);
}
@-webkit-keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% + var(--marquee-fade-width)));
  }
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% + var(--marquee-fade-width)));
  }
}
.features-grid-layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 80px;
  margin-top: var(--features-margin-top);
}
.features-grid-layout > * {
  width: calc(50% - var(--features-grid-gutter-h, 60px) / 2);
  max-width: var(--feature-max-width);
}
@media (max-width: 799px) {
  .features-grid-layout > * {
    width: 100%;
    margin: 0 auto;
  }
}
.features-3-column-layout {
  --features-3-column-gap-h: 35px;
  --features-3-column-gap-v: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: var(--features-3-column-gap-v);
  width: 100%;
  margin-top: var(--features-margin-top);
}
@media (min-width: 1300px) {
  .features-3-column-layout {
    --features-3-column-gap-h: 45px;
  }
}
.features-3-column-layout > * {
  width: 33.33333333%;
  width: calc((100% - (var(--features-3-column-gap-h) * 2)) / 3);
}
@media (max-width: 799px) {
  .features-3-column-layout > * {
    width: 100%;
    margin: 0 auto;
  }
}
.features-stack-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--features-margin-top);
}
@media (max-width: 1100px) {
  .features-stack-layout {
    gap: 30px;
  }
}
@media (max-width: 799px) {
  .features-stack-layout {
    gap: 50px;
  }
}
.feature-side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: var(--features-grid-gutter-h, 60px);
       column-gap: var(--features-grid-gutter-h, 60px);
}
.feature-side-by-side .feature-graphic,
.feature-side-by-side .feature-description {
  flex-basis: 100%;
  max-width: var(--feature-max-width);
  order: 1;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.feature-side-by-side.alternate-sides:nth-child(even) .feature-description {
  order: 0;
}
.feature-side-by-side .feature-description > *:first-child {
  margin-top: 0;
}
.feature-side-by-side .feature-description > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 799px) {
  .feature-side-by-side {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: var(--feature-max-width);
    margin: 0 auto;
  }
  .feature-side-by-side .feature-description {
    order: 1 !important;
  }
}
.feature-graphic {
  position: relative;
  cursor: default;
}
.feature-graphic__intrinsic.ratio-3-2 {
  padding-top: 66.66666667%;
}
.feature-graphic__intrinsic.ratio-4-3 {
  padding-top: 75%;
}
.feature-graphic__intrinsic > * {
  position: absolute !important;
}
.feature-graphic .icon-large {
  width: 64px;
  height: 64px;
}
.feature-graphic.single-svg svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glow-ellipse {
  position: absolute;
  top: 12%;
  bottom: 12%;
  left: 14%;
  right: 14%;
  background: var(--gradient-glow);
  border-radius: 50%;
  filter: blur(50px);
  transform: translate3d(0, 0, 0);
  opacity: 0.6;
}
.ui-container {
  position: relative;
  --border-radius: var(--border-radius-container, 12px);
  border-radius: var(--border-radius);
}
.ui-container:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.ui-container .ui-container-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.ui-container.style-transluscent-thin:after,
.ui-container.style-transluscent-thick:after,
.ui-container.style-transluscent:after {
  box-shadow: 0 0 0 1px rgba(255, 213, 189, 0.18);
  border-radius: inherit;
}
.ui-container.style-transluscent:after {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.45));
  -webkit-backdrop-filter: blur(20px) saturate(150%);
          backdrop-filter: blur(20px) saturate(150%);
}
.ui-container.style-transluscent-thin:after {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
  -webkit-backdrop-filter: blur(20px) saturate(135%);
          backdrop-filter: blur(20px) saturate(135%);
}
.ui-container.style-transluscent-thick:after {
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5));
  -webkit-backdrop-filter: blur(20px) saturate(170%);
          backdrop-filter: blur(20px) saturate(170%);
}
.ui-container.style-opaque-dark-glow:after {
  background: linear-gradient(black 50%, rgba(0, 0, 0, 0.45)), var(--gradient-half);
  box-shadow: inset 0 0 0 1px rgba(255, 213, 189, 0.18);
  border-radius: inherit;
}
.ui-container:has( > .ui-container-border ) {
  box-shadow: none;
}
.ui-container:has( > .ui-container-border ):after {
  box-shadow: none;
}
.ui-container.style-solid:after {
  background: var(--color-ui-background-solid);
  box-shadow: 0 0 0 1px var(--color-ui-background-solid-border);
  border-radius: inherit;
}
.ui-container.shape-capsule {
  --border-radius: 10000px;
  border-radius: 10000px;
}
.ui-container.shape-capsule:before,
.ui-container.shape-capsule:after {
  border-radius: inherit;
  border-radius: 10000px;
}
.ui-container.border-accent-gradient {
  box-shadow: none;
}
.ui-container.border-accent-gradient .ui-container-border {
  content: "";
  position: absolute;
  top: calc(var(--border-thickness, 1px) * -1);
  bottom: calc(var(--border-thickness, 1px) * -1);
  left: calc(var(--border-thickness, 1px) * -1);
  right: calc(var(--border-thickness, 1px) * -1);
  background: var(--gradient-half);
  box-shadow: none;
  padding: var(--border-thickness, 1px);
  border-radius: calc(var(--border-radius) + var(--border-radius-compensation));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, /* this will cover only the content area (no padding) */ linear-gradient(#fff 0 0);
  /* this will cover all the area */
  -webkit-mask-composite: xor;
  /* needed for old browsers until the below is more supported */
  mask-composite: exclude;
  /* this will exclude the first layer from the second so only the padding area will be kept visible */
}
.ui-container.border-example-brand-gradient:after {
  box-shadow: 0 0 0 1px #329DFF;
}
.ui-container.glow-underneath:before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: -1px;
  left: -2px;
  right: -2px;
  background: linear-gradient(var(--color-background) 10%, var(--color-background-transparent) 85%), var(--gradient-half);
  z-index: -2;
  opacity: var(--glow-opacity, 0.8);
  filter: blur(20px) saturate(140%);
  transform: translate3d(0, 0, 0);
}
.ui-container-content {
  display: block;
  width: 100%;
  border-radius: inherit;
}
@media (max-width: 900px) and (min-width: 800px), (max-width: 450px) {
  .developer-experience-graphic {
    font-size: 0.85em;
  }
}
@media (max-width: 374px) {
  .developer-experience-graphic {
    font-size: 0.72em;
  }
}
.developer-experience-graphic .feature-graphic__intrinsic > * {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.developer-experience-graphic .powered-by {
  white-space: nowrap;
  padding: 0.9em 5% 1.1em;
  will-change: transform;
}
.developer-experience-graphic .powered-by .our-logo {
  --logo-width: 5.3em;
  display: inline-block;
  margin-bottom: -0.3em;
  margin-left: 0.1em;
  will-change: transform;
}
.developer-experience-graphic .feature-graphic__intrinsic .developer-experience-graphic__labels {
  transform: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.developer-experience-graphic__label {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  will-change: transform;
}
.developer-experience-graphic__label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 0.8em;
  margin-right: 0.25em;
  margin-top: -0.4em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='16' %3E%3Cpath fill='%23fff' d='m4.95 12.78 2.55 2.54L20.23 2.6 17.68.05 7.5 10.23 3.05 5.78.5 8.33l4.45 4.45Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
.multi-chain-sso-graphic {
  --chain-logo-distance: -380%;
  --chain-logo-selected-ring-distance: 6px;
  --chain-logo-selected-ring-thickness: 1.5px;
  --chain-logo-selected-ring-visibility: 1;
  --rotation-angle: 0;
}
.multi-chain-sso-graphic .feature-graphic__intrinsic > * {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.multi-chain-sso-graphic .chain-logo {
  top: 60%;
  width: 10%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10000px;
  box-shadow: 0 0 0 var(--chain-logo-selected-ring-distance) var(--color-background), 0 0 0 calc(var(--chain-logo-selected-ring-distance) + var(--chain-logo-selected-ring-thickness) * var(--chain-logo-selected-ring-visibility)) var(--color-accent);
  transform: translate(-50%, -50%) rotate(var(--rotation-angle)) translateY(var(--chain-logo-distance)) rotate(calc(var(--rotation-angle) * -1));
}
.multi-chain-sso-graphic .gradient-bottom-coverup {
  width: 100%;
  top: 45%;
  bottom: 0;
  background: linear-gradient(var(--color-background-transparent) 30%, var(--color-background) 55%);
}
.multi-chain-sso-graphic .sso-statement {
  top: 92%;
  display: flex;
  align-items: baseline;
  font-size: 16px;
  white-space: nowrap;
}
.multi-chain-sso-graphic .sso-statement p {
  margin: 0;
  font-size: inherit;
  margin-right: 0.3em;
}
.multi-chain-sso-graphic .chain-names {
  position: relative;
  font-weight: 600;
  font-size: 1.15em;
}
.multi-chain-sso-graphic .chain-names > *:not(.final-stage) {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.badge {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  padding: 0.8em 2em 1em 2.1em;
  border-radius: 10000px;
  background-color: var(--color-accent);
  background-image: var(--gradient-half);
  cursor: default;
}
.badge:before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  z-index: -1;
  background: var(--color-background);
  border-radius: inherit;
}
.badge .badge__title {
  font-size: 20px;
  font-weight: 500;
}
.badge .badge__subtitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-accent);
}
.badge .badge__subtitle:before {
  content: "";
  display: inline-block;
  width: 1.16667em;
  height: 1.2222em;
  margin-bottom: -0.3em;
  margin-right: 0.4em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22'%3E%3Cpath fill='%23FE452B' d='M19.77 3.46 10.38 1 1 3.46v7.21a9.11 9.11 0 0 0 3.86 7.63c2 1.36 4.3 2.7 5.52 2.7 1.23 0 3.52-1.34 5.53-2.7a9.11 9.11 0 0 0 3.86-7.63v-7.2Zm-9.39.12 6.89 1.81v5.28a6.62 6.62 0 0 1-2.76 5.56c-.97.66-1.95 1.27-2.8 1.7a8.55 8.55 0 0 1-1.33.56 8.55 8.55 0 0 1-1.32-.55 29.03 29.03 0 0 1-2.8-1.71 6.62 6.62 0 0 1-2.76-5.56V5.4l6.88-1.8Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}
.section-wallet-features {
  padding-bottom: 60px;
}
.section-wallet-features .section-content {
  max-width: 1280px;
}
.section-wallet-features .text-group {
  max-width: 36em;
  margin-bottom: 6vh;
}
.section-toolkit-features {
  padding-bottom: 100px;
}
.toolkit-feature-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: var(--features-margin-top) auto 0;
}
.toolkit-feature-links .ui-button {
  opacity: 0.7;
  transition: 0.3s;
}
.toolkit-feature-links .ui-button:hover,
.toolkit-feature-links .ui-button:active {
  opacity: 1;
}
@media (max-width: 899px) {
  .toolkit-feature-links {
    max-width: 500px;
  }
}
@media (max-width: 899px) {
  .toolkit-feature-links {
    max-width: 300px;
  }
}
.section-security-features {
  padding-bottom: 0;
}
.section-security-features .section-content {
  max-width: 1280px;
}
@media (max-width: 799px) {
  .section-security-features .section-content {
    max-width: 600px;
  }
}
.section-security-features .text-group {
  max-width: 36em;
  margin-bottom: 6vh;
}
.section-security-features .section-audits {
  margin-top: 5vh;
}
.section-home-testimonials {
  padding: 0;
}
.section-home-testimonials .section-content {
  position: relative;
  z-index: 1;
}
.quotes-carousel-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -10px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-bottom: max(80px, min(15vmax, 120px));
  background-image: url("https://assets.codepen.io/44800/capsule-comet-burst-v-cover-stretch.svg?3"), url("https://assets.codepen.io/44800/capsule-comet-burst-v-cover.svg?5"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3014 963'%3E%3Cpath d='M0 2h3014v1160H0z'/%3E%3Cpath fill='%2324002e' d='m1507 1162-196-13H0V1h3014v1148H1705l-198 13z'/%3E%3Cpath fill='%233d014c' d='M1507 1162c-73 0-172-21-225-34-24-6-50-9-75-9H0V1h3014v1118H1809c-25 0-51 3-75 9-54 13-154 34-227 34z'/%3E%3Cpath fill='%234a015d' d='m1507 1162-284-80c-18-5-36-7-55-7H1V1h3014v1074H1847c-18 0-36 2-53 7l-287 80z'/%3E%3Cpath fill='%2359016f' d='m1507 1162-342-133c-23-9-47-13-72-13H0V1h3014v1015H1923c-25 0-49 4-72 13l-344 133z'/%3E%3Cpath fill='%23680171' d='m1507 1162-402-187c-27-12-55-18-85-18H1V1h3014v955H1995c-29 0-58 7-84 19l-404 187z'/%3E%3Cpath fill='%2381038c' d='m1507 1162-446-253c-30-17-64-27-98-27H0V1h3014v882h-961c-35 0-68 8-99 26l-447 253z'/%3E%3Cpath fill='%239600a3' d='m1507 1162-474-313c-33-22-71-33-110-33H0V1h3014v815h-921c-39 0-77 11-110 33l-476 313z'/%3E%3Cpath fill='%23b005bf' d='M1507 1162 985 794c-33-24-74-37-115-37H0V1h3014v756h-868c-41 0-82 12-115 36l-524 369z'/%3E%3Cpath fill='%23ff5c00' d='M1507 1162 927 704a97 97 0 0 0-60-21L0 1h3014l-867 682c-21 0-41 7-57 20l-583 459z' opacity='.1'/%3E%3Cpath fill='%23cc04df' d='M1507 1162 927 704a97 97 0 0 0-60-21H0V1h3014v682h-867c-21 0-41 7-57 20l-583 459z'/%3E%3Cpath fill='%23e302da' d='M1507 1162 897 635c-8-7-19-11-30-11H0V1h3014v623h-867c-10 0-19 3-27 10l-613 528z'/%3E%3Cpath fill='%23f004d8' d='M1507 1162 925 583a81 81 0 0 0-58-24H0V1h3014v558h-867c-20 0-40 8-54 23l-586 580z'/%3E%3Cpath fill='%23fd04c6' d='M1507 1163 924 512a76 76 0 0 0-57-26H0V2h3014v484h-867c-20 0-39 9-53 24l-587 653z'/%3E%3Cpath fill='%23fd04a9' d='M1507 1162 974 464c-26-33-65-53-107-53H0V1h3014v410h-867c-30 0-59 14-78 38l-562 713z'/%3E%3Cpath fill='%23f90086' d='M1507 1162 997 420c-30-42-78-68-130-68H0V1h3014v351h-867c-40 0-79 20-102 53l-538 757z'/%3E%3Cpath fill='%23f9005a' d='m1507 1162-466-772c-36-60-101-97-171-97H0V1h3014v272h-867c-61 0-117 51-149 103l-491 786z'/%3E%3Cpath fill='%23ff133e' d='m1507 1162-435-822a200 200 0 0 0-177-106H0V1h3014v233h-879c-73 0-140 40-175 104l-453 824z'/%3E%3Cpath fill='%23fb3232' d='m1507 1162-400-917c-16-37-60-60-132-60H0V1h3014v174l-968 10c-67 0-105 23-121 59l-418 918z'/%3E%3Cpath fill='%23fe4319' d='m1507 1162-313-898a200 200 0 0 0-189-134H0V1h3014v129h-989c-84 0-159 53-188 132l-330 900z'/%3E%3Cpath fill='%23ff5313' d='m1507 1162-239-926a200 200 0 0 0-194-150H0V1h3014v85H1956c-90 0-169 60-193 147l-256 929z'/%3E%3Cpath fill='%23ff6931' d='m1507 1162-167-951a200 200 0 0 0-197-166H0V1h3014v44H1887c-96 0-179 69-197 163l-183 954z'/%3E%3Cpath fill='%23ff8a00' d='M1507 1162 1351 1h312l-156 1161z'/%3E%3Cpath fill='%23ffd644' d='M1507 1162 1409 1h196l-98 1161z'/%3E%3Cpath fill='%23fffad1' d='M1507 1162 1458 1h98l-49 1161z'/%3E%3Cpath fill='%23fff' d='M1507 1162 1490 1h34l-17 1161z'/%3E%3C/svg%3E ");
  background-size: 100% 100%, cover, cover;
  background-position: top;
  background-repeat: no-repeat;
}
.quotes-carousel {
  --quotes-carousel-gutter: calc((2.5vw + 10px) / 2);
  --quotes-carousel-card-padding-fixed-component: 10px;
  --quotes-carousel-card-padding: calc(2.5vw + var(--quotes-carousel-card-padding-fixed-component) - 0.5em) calc(2.5vw + var(--quotes-carousel-card-padding-fixed-component));
  width: 100%;
  max-width: 1500px;
}
@media (min-width: 800px) {
  .quotes-carousel {
    --quotes-carousel-card-padding-fixed-component: 16px;
  }
}
.quotes-carousel__item {
  padding: 2px calc(var(--quotes-carousel-gutter));
  padding: 2px calc(var(--quotes-carousel-gutter) + env(safe-area-inset-left) / 2);
}
.quote-content {
  padding: 18px 24px;
  padding: var(--quotes-carousel-card-padding);
  margin: 0 auto;
  background: var(--color-background-transluscent);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  border-radius: var(--border-radius-container);
  box-shadow: inset 0 0 0 0.5px var(--color-background-transluscent), 0 0 0 1px rgba(0, 0, 0, 0.07);
  hanging-punctuation: first;
}
.quote-content > *:first-child {
  margin-top: 0;
}
.quote-content > *:last-child {
  margin-bottom: 0;
}
.quote-content p {
  margin-right: -0.8ch;
}
@media (min-width: 1500px) {
  .quotes-carousel .slick-list {
    -webkit-mask-image: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
            mask-image: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
  }
}
.quote-attribution {
  margin-top: 2em;
}
.quote-attribution__person {
  line-height: 1.3;
}
.section-about-hero {
  position: relative;
}
.section-about-hero .section-content {
  position: relative;
  z-index: 2;
  max-width: 1300px;
  max-width: min( 1300px, 90vw );
  align-items: flex-start;
  text-shadow: 0 1px 40px rgba(0, 0, 0, 0.7);
}
.section-about-hero .section-content p {
  max-width: 20em;
}
@media (max-width: 499px), (max-height: 499ppx) {
  .section-about-hero {
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.section-about-hero .sunrise-graphic {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% center;
     object-position: 20% center;
  transition: var(--duration-layout);
}
@media (min-width: 1300px) {
  .section-about-hero .sunrise-graphic {
    -o-object-position: 50% center;
       object-position: 50% center;
  }
}
@media (max-width: 669px) {
  .section-about-hero .sunrise-graphic {
    -o-object-position: 25% center;
       object-position: 25% center;
  }
}
@media (max-width: 569px) {
  .section-about-hero .sunrise-graphic {
    -o-object-position: 31% center;
       object-position: 31% center;
  }
}
@media (max-width: 380px) {
  .section-about-hero .sunrise-graphic {
    -o-object-position: 33% center;
       object-position: 33% center;
  }
}
.section-about-hero:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 85%;
  opacity: 0.8;
  transition: var(--duration-layout);
  z-index: 1;
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.987) 8.1%, rgba(0, 0, 0, 0.951) 15.5%, rgba(0, 0, 0, 0.896) 22.5%, rgba(0, 0, 0, 0.825) 29%, rgba(0, 0, 0, 0.741) 35.3%, rgba(0, 0, 0, 0.648) 41.2%, rgba(0, 0, 0, 0.55) 47.1%, rgba(0, 0, 0, 0.45) 52.9%, rgba(0, 0, 0, 0.352) 58.8%, rgba(0, 0, 0, 0.259) 64.7%, rgba(0, 0, 0, 0.175) 71%, rgba(0, 0, 0, 0.104) 77.5%, rgba(0, 0, 0, 0.049) 84.5%, rgba(0, 0, 0, 0.013) 91.9%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 700px) {
  .section-about-hero:before {
    width: 75%;
  }
}
@media (min-width: 1000px) {
  .section-about-hero:before {
    width: 60%;
  }
}
@media (max-width: 499px) {
  .section-about-hero:before {
    width: 85%;
  }
}
.section-about-values .section-content {
  max-width: 1280px;
}
@media (max-width: 799px) {
  .section-about-values .section-content {
    max-width: 600px;
  }
}
.section-about-values .features-grid-layout > div > *:first-child {
  margin-top: 0;
}
.section-about-values .features-grid-layout > div > *:last-child {
  margin-bottom: 0;
}
.section-about-team .logo-grid {
  margin-top: 40px;
  margin-bottom: 20px;
}
.section-about-team .team-background {
  margin-top: 60px;
  margin-bottom: 60px;
}
.section-about-team .investors {
  margin-top: 70px;
  margin-bottom: 70px;
}
.adjacent-images-same-height {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
}
.adjacent-images-same-height > * {
  display: block;
  border-radius: 12px;
  height: 100%;
}
@media (max-width: 499px) {
  .adjacent-images-same-height {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    height: auto !important;
    max-height: none !important;
  }
  .adjacent-images-same-height > * {
    width: 100%;
    height: auto;
  }
}
.adjacent-images-same-height {
  height: calc(90vw / var(--approx-aspect-ratio));
  max-height: calc(1000px / var(--approx-aspect-ratio));
  box-sizing: content-box;
}
.logo-grid {
  --unique-size-modifier: 1.1;
  --logo-height: 64px;
  fill: currentcolor;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  row-gap: 22px;
  row-gap: max(22px, 2vmin);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: calc(var(--logo-height) * 14);
}
.logo-grid img {
  box-sizing: border-box;
  display: inline-block;
  height: calc(var(--logo-height) * var(--unique-size-modifier));
  padding: 0 20px;
  fill: var(--color-light);
  will-change: opacity;
  transition: opacity 0.3s, height var(--duration-layout);
}
@media (max-width: 699px) {
  .logo-grid img {
    --logo-height: 52px;
    padding: 0 14px;
  }
}
@media (max-width: 499px) {
  .logo-grid img {
    --logo-height: 42px;
    padding: 0 12px;
  }
}
.logo-grid img.much-much-smaller {
  --unique-size-modifier: 0.56;
}
.logo-grid img.much-smaller {
  --unique-size-modifier: 0.72;
}
.logo-grid img.smaller {
  --unique-size-modifier: 0.86;
}
.logo-grid img.larger {
  --unique-size-modifier: 1.2;
}
.name-grid {
  --gutters-min-h: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto 0;
}
.name-grid.columns-4 {
  --column-count: 4;
  max-width: 950px;
}
.name-grid.columns-4 .name-item {
  width: calc((100% - (var(--column-count) - 1) * var(--gutters-min-h)) / var(--column-count));
}
@media (max-width: 749px) {
  .name-grid.columns-4 {
    --column-count: 2;
  }
}
@media (max-width: 370px) {
  .name-grid.columns-4 {
    --column-count: 1;
  }
}
.name-grid .name-item {
  text-align: center;
}
.name-grid .name-item p {
  font-weight: 500;
  display: inline-block;
}